<ion-view>
	<ion-nav-title class="pig-nav"></ion-nav-title> 
	<ion-content class="has-footer">
      <div class="contact-form">
            <p>Questions/Comments for us?<br>
            Fill out the form and drop us a line!</p>
            <form ng-submit="submit()">
	          	<label class="item item-input">
		            <input type="text" placeholder="Name">
		        	</label>

			        <label class="item item-input">
			            <input type="text" placeholder="Email">
			        </label>

					   <textarea placeholder="Questions/Comments" rows="8"></textarea>

        			<button class="button">Submit</button>
	      		</form>
      	</div>
		<div class="orange-divide"></div>
			<div class="row social-icons">
                  <ul>
                        <li>
                              <a href="https://www.facebook.com/bhamfoodtrucks/" onclick="window.open(this.href, '_blank', 'location=yes'); return false;" class="ion-social-facebook" target="_blank"></a>
                        </li>
                        <li>
                              <a href="https://www.instagram.com/bhamfoodtrucks/" onclick="window.open(this.href, '_blank', 'location=yes'); return false;" class="ion-social-instagram"></a>
                        </li>
                        <li>
                              <a href="https://twitter.com/bhamfoodtrucks" onclick="window.open(this.href, '_blank', 'location=yes'); return false;" class="ion-social-twitter"></a>
                        </li>
                  </ul>
			</div>
	</ion-content>
</ion-view>