

<div id="landing-page-web">
  	<ion-content class="text-center">
    	<div class="landing-logo padding">
    		<img src="/img/bham-food-trucks-logo-1.png" alt="logo">
    	</div>
    		<p>Ready to find food trucks near you?</p>
    		<button ui-sref="app.map" class="button button-block button-border">Let's Get Truckin'</button>
    		<p class="orange-text"> - or - </p>
    		<p>Ready to put your truck on the map?</p>
    		<button ui-sref="truck-login" class="button button-block button-border">Truck Login</button>
  	</ion-content>
</div>
