<ion-side-menus enable-menu-with-back-views="false">
   <ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
         <ion-nav-back-button class="no-text">
         </ion-nav-back-button>

         <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
            </button>
         </ion-nav-buttons>
      </ion-nav-bar>

      <!-- TABS -->
      <ion-tabs class="tabs-icon-top">
         <!-- List Tab -->
         <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/trucks">
           <ion-nav-view name="tab-trucks"></ion-nav-view>
           Trucks
         </ion-tab>

         <!-- Map Tab -->
         <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/app/map">
           <ion-nav-view name="tab-map"></ion-nav-view>
           Map
         </ion-tab>

         <!-- Favorites Tab -->
         <ion-tab title="Favorites" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/app/favorites">
           <ion-nav-view name="tab-favorites"></ion-nav-view>
           Favorites
         </ion-tab>
      </ion-tabs>

   </ion-side-menu-content>

   <!-- Side Menu (right) -->
   <ion-side-menu side="right" class="side-menu">
      <ion-content>
         <ion-row>
            <div class="menu-logo"></div>
         </ion-row>
         <ion-list>
            <ion-item ng-if="$root.currentUser === null">
               <a href="#/truck-login">Truck Login</a>
            </ion-item>
            <ion-item ng-if="$root.currentUser !== null">
                <a ng-click="$root.signOut()">Log out</a>
            </ion-item>
            <ion-item ng-if="$root.currentUser !== null">
                <a ng-click="$root.togglePrompt()">Check in</a>
            </ion-item>
            <ion-item>
               <a href="#/about-us">About Us</a>
            </ion-item>
            <ion-item>
               <a href="#/contact">Contact</a>
            </ion-item>
         </ion-list>
         <div class="bar bar-footer">
            <p>Copyright &copy; 2016<br />
            <a href="http://digmoxy.com">Built by Moxy</a></p>
         </div>
      </ion-content>
   </ion-side-menu>
</ion-side-menus>