/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #e24307 !default;
$energized:                       #e24307 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/*==============
    Variables
================*/
$orange: #e24307;
$blue:  #4b88a3;
$dark-blue: #185570;
$grey:  #a9a8a9;
$white: #fefefe;
$poppins: 'Poppins', sans-serif;
$fira: 'Fira Sans', sans-serif;

/*==============
    Utilities
================*/

body {
    font-family: $fira;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: $poppins;
}

p {
    color: $grey;
    font-family: $fira;
}

a {
    color: $blue;
    text-decoration: none;
}

.orange-text {
   color: $orange;
   margin: .75rem 0;
}

textarea, input[type="text"] {
    color: $white;
}
::-webkit-input-placeholder {
   color: $white;
}
:-moz-placeholder { /* Firefox 18- */
   color: $white;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}
:-ms-input-placeholder {
   color: $white;
}

.button.button-block {
    width: 70%;
    margin: 10px auto;
}

.button-clear.button-clear {
    color: $white;
}

.text-center {
    text-align: center;
}

.backdrop-loading, .backdrop, .loading-container .loading {
    background-color: $white;
    img {
        width: 75%;
    }
}

.orange-divide {
    border-bottom: 1px solid $orange;
    margin: 0.5rem auto;
    width: 80%;
}

.stable-bg {
    background-color: #f8f8f8 !important;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fadeOutUp {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-20px);
   }
} 

.pig-nav {
  background-image: url('../img/BFT-icon-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 30px;
  margin: 0.3rem auto;
  position: absolute;
}

.popup-buttons {
  .button {
    padding: 0;
  }
}

.button.active, .button.activated {
//  border-color: none !important;
  background-color: none;
}

button {
    background-color: transparent;
    padding: 1rem 1.2rem;
    color: $blue;
}

.button-border {
  border: 3px solid $blue !important;
}

.button {
    background-color: transparent;
    color: $blue;
    font-weight: bolder;
    font-family: $poppins;
}
.bar-stable {
  background: $orange;
}

ion-nav-button{
  background: $orange;
}

.overflow-scroll .scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#info-content {
  text-align: center;
  h4 {
    color: $blue;
    font-size: 1rem;
    border-bottom: 1px solid $orange;
    padding-bottom: 0.5rem;
  }
}

/*==============
      Menu
================*/
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"], [nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar, .tabs, .bar.bar-stable .title {
    background-color: $orange;
    color: $white;
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar button.button-clear .icon:before, .bar button.button-clear.icon:before, .bar button.button-clear.icon-left:before, .bar button.button-clear.icon-right:before {
  font-size: 1.3rem;
}

.platform-android {
    .bar.bar-stable .title {
        right: 20px !important;
    }
}

.bar {
    border: none !important;
}
.side-menu {
    text-align:center;
}

.landing-logo, .menu-logo {
  background-image: url(../img/bham-food-trucks-logo-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-logo {
  margin: 1.5rem auto;
  width: 100%;
  height: 200px;
}

.bar-header {
    background-color: $orange;
}

.tabs-striped .tabs {
    background-color: $orange;
    border-bottom: none;
    box-shadow: none;
}

.tab-item .icon {
    margin-top: 8px;
}

.bar-footer {
    text-align: center;
    margin: 0 auto;
    display: block;
    box-shadow: none;
    p {
        font-size: 0.85rem;
        margin-bottom: 0 !important;
    }
}

.nav-bar-title {
    img {
        width: 50px;
        padding-top: 0.4rem;
    }

}

.bar .bar-footer {
    padding-top: 3px !important;
}

.bar.bar-header .button+.title {
    text-align:center !important;
    // left: 35px !important;
}

.pig-nav {
  left: 40%;
}

.tabs {
    height: 65px;
}

.bar .title, .bar-stable .button.button-clear {
    color: $white;
    font-family: $fira;
}

.side-menu {
    background-image: url(../img/bft-background-tile-0.1.jpg);
    background-repeat: repeat;
    .list .item {
        text-align: center;
        border-bottom: 1px solid $orange;
        font-size: 1.2rem;
        a {
            font-family: $poppins;
        }
    }
    .bar-footer {
      background: $blue;
      p {
        color: $white;
        padding-top: 3px;
      }
      a {
        color: lighten($orange, 25%);
        font-size: 0.75rem;
      }
    }
}

.back-button.hide {
    display: block !important;
}

/*==============
     Landing
================*/

.landing-logo {
  margin: 1.5rem auto 0.75rem auto;
  width: 300px;
  height: 200px;
}

#landing-page {
  background-image: url(../img/bft-background-tile-0.1.jpg);
  background-repeat: repeat;
  ion-content {
    height: 100%;
    .landing-content {
      margin-top: 25%;
    }
  }
}

/*==============
     Login
================*/

.checkin {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    border: 3px solid $white;
}

.login-content {
    text-align: center;
    p {
        color: white;
        font-size: 1.1rem;
    }
}

.login-logo-row { 
  width: 100%;
  .login-logo {
    background-image: url(../img/BFT-icon-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 150px;
    margin: 2rem auto 1rem auto;
  }
}

.truck-login-view {
    background-image: url(../img/alabama-theatre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .row {
    width:100%;
    } 
}

.login-form {
  padding: 0rem 1rem;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
    }
    input {
      background-color: rgba(255, 255, 255, 0.8);
      color: $blue;
      padding: 1.5rem 0.75rem;
      font-size: 1.1rem;
    }
    .input-label {
      color: $white;
      font-size: 1.2rem;
    }
}

/*==============
      Map
================*/

 #map {
    width: 100%;
    height: 100%;
}

/*==============
     Trucks
================*/
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-height: 100%;
    height: auto;
}
.truck-search.item {
    //box-shadow: 0 0px 5px 0 rgba(75, 136, 163,.4);
    background-color: $blue;
    padding: 5px;
    width: 101%;
    border-bottom: 1px solid $orange;
    .placeholder-icon {
        color: $white;
        font-size: 1.3rem;
    }
    .item-input {
        border: none;
        
    }
    ::-webkit-input-placeholder {
       color: $white;
       font-size: 1.1rem;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-family: $poppins;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $white;
       font-size: 1.1rem;
        text-transform: uppercase;
       letter-spacing: 2px;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $white;
       font-size: 1.1rem;
       text-transform: uppercase;
       letter-spacing: 2px;
    }

    :-ms-input-placeholder {  
       color: $white;  
       font-size: 1.1rem;
       text-transform: uppercase;
       letter-spacing: 2px;
    }
}

.truck-list {
    background-image: url(../img/bft-background-tile-0.1.jpg);
    background-repeat: repeat;
    .item-thumbnail-left {
        min-height: 70px;
    }
    .item-thumbnail-left>img:first-child {
        // max-width: 75px;
        // max-height: 55px;
        top: 0;
        left: 0;
    }
}

.truck-list, .favs-list {

    .card {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.33);
        img {
            box-shadow: none
        }
        .item-thumbnail-left {
            width: 80%;
        }
        .item-button-right {
            width: 20%;
            background: transparent !important;
            .button {
              top: 0;
            }
        }
    }
    .stable-bg {
        background-color: rgba(255,255,255,0.8) !important;
    }

    button {
        box-shadow: none;
        padding: 0;
        background: transparent;
        i {
            color: $orange;
        }
    }
    .item {
        h5 {
            color: $blue;
            font-weight: 600;
            font-size: 0.75rem;
        }
        p {
          font-size: 0.7rem;
        }
    }
    .item-thumbnail-left>img:first-child {
        border-radius: 0;
    }
}


.favorites-page {
  background-image: url(../img/bft-alt-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*==============
     Truck
================*/

.truck-image {
    padding: 1rem;
    background-color: $white;
    height: 150px;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

.truck-content {
    background-image: url(../img/bft-background-tile-0.1.jpg);
    background-repeat: repeat;
    text-align: center;
    padding: 2rem;
    height: 100%;
    border-top: 1px solid $orange;
    overflow: hidden;
    .button {
      border: 3px solid $blue;
      color: $blue;
      font-weight: 700;
      display: block;
      width: 70%;
      margin: 1rem auto;
   }
   .orange-divide {
      width: 50%;
      margin: 2rem auto 1.5rem auto;
   }
}
.close-modal {
   border: none;
   font-size: 2rem;
}

/*==============
     About Us
================*/
.about-us {
    h4 {
      color: $blue;
      text-align: center;
      margin: 0;
    }
}
.about-row {
    background-image: url(../img/BFT-about-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 115px;
    padding: 1.5rem 1rem 1rem 1rem;
    margin-bottom: 1rem;

    .about-logo {
      background-image: url(../img/BFT-about-logowht2.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 250px;
      height: 100%;
      margin: 0 auto;
    }
}

.about-content {
    padding: 0.75rem 1.75rem;
}

/*==============
     Contact
================*/
.contact-form {
    text-align: center;
    padding: 1rem;
    form {
      padding: 0 2rem;
    }
    .item-input, textarea {
        background-color: rgba(75,136,163,0.7);
        width: 100%;
        margin: 1.75rem 0;
    }
    .button {
        width: 100%;
        font-size: 1.2rem;
    }
    textarea {
        padding: 1rem 0 0 1rem;
    }
    ::-webkit-input-placeholder {
       color: $white;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-family: $poppins;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $white;
        text-transform: uppercase;
       letter-spacing: 2px;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $white;;
       text-transform: uppercase;
       letter-spacing: 2px;
    }

    :-ms-input-placeholder {  
       color: $white;  
       text-transform: uppercase;
       letter-spacing: 2px;
    }
}
.social-icons {
    text-align: center;
    ul {
        margin: 0 auto;
        li {
            display: inline-block;
            margin: 0.5rem;
            a {
                font-size: 1.75rem;
            }
        }
    }
}

/*==============
    Footer
================*/
.page-footer {
    height: 60px;
}

.footer-links {
    li {
        display: inline-block;
        margin: 0.5rem 1.5rem 0 1.5rem;
    }
    a {
        color: $white;
        font-size: 0.8rem;
        display: block;
    }
    
    i {
        display: block;
        color: $white;
        font-size: 1.5rem;
    }
}

/*==============
    Browser
================*/

// #landing-page {
//   ion-content {
//     .landing-content {
//       margin-top: 10%;
//     }
//   }
// }

// .login-form {
//   margin: 0rem 20%;
// }

// .pig-nav {
//   left: 50%;
// }

// .button.button-block {
//   width: 30%;
// }

// #landing-page ion-content .landing-content {
//   margin-top: 10%;
// }
// .card-item {
//   width: 40% !important;
//   margin: 0 auto;
// }
// .about-content {
//   margin: 0 auto;
//   width: 40%;
//   text-align: center;
// }
// .contact-form {
//   padding: 1rem 25%;
// }
// .orange-divide {
//   width: 50%;
// }