<ion-view hide-nav-bar="true" id="landing-page">
    <ion-content class="text-center">
    	<div class="landing-content">
        	<div class="landing-logo"></div>
            <p>Ready to find food trucks near you?</p>
            <a href="#/app/map" class="button button-block button-border">Let's Get Truckin'</a>
            <p class="orange-text"> - or - </p>
            <p>Ready to put your truck on the map?</p>
            <a href="#/truck-login" class="button button-block button-border">Truck Login</a>
        </div>
    </ion-content>
</ion-view>