<ion-view class="menu-page-pig">
      <ion-nav-title class="pig-nav"></ion-nav-title> 
      <ion-content class="has-footer about-us"> 
            <div class="about-row">
            	<div class="about-logo"></div>
            </div>
            <h4>About Us</h4>
            <div class="orange-divide"></div>
            <div class="row about-content">
                  <p>Hungry? Find out where your next meal is parked with the Birmingham Food Truck app, your comprehensive guide to all things food trucks in the greater Birmingham area.  This app offers the capability to search for food trucks located near you in real time.  Just open the app and the map will pinpoint all active food trucks near you.  Food Trucks vendors check-in and display their location so there is no more digging through social media to find where you favorite truck is located.  We do the work so you don’t have to.  Navigate your way to Birmingham’s best street food and Eat like a boss. Keep on Truckin’. Powered by Moxy.</p>
            </div>
                <div class="row social-icons">
                  <ul>
                        <li>
                              <a href="https://www.facebook.com/bhamfoodtrucks/" onclick="window.open(this.href, '_blank', 'location=yes')" class="ion-social-facebook"></a>
                        </li>
                        <li>
                              <a href="https://www.instagram.com/bhamfoodtrucks/" onclick="window.open(this.href, '_self', 'location=yes')" class="ion-social-instagram"></a>
                        </li>
                        <li>
                              <a href="https://twitter.com/bhamfoodtrucks/" onclick="window.open(this.href, '_self', 'location=yes')" class="ion-social-twitter"></a>
                        </li>
                  </ul>
            </div>
	</ion-content >
</ion-view>
