<ion-view class="favorites-page">
  <ion-nav-title class="pig-nav"></ion-nav-title> 
   <ion-content ng-controller="FavoritesCtrl">
      <div ng-if="favorites.length === 0" class="padding">
         <p>It looks like you don't have any favorites yet!</p>
      </div>

      <div ng-if="favorites.length > 0" class="favs-list">
         <div class="item card-item" ng-repeat="truck in favorites">
            <div class="card stable-bg ink ink-dark">
               <div class="item fav-item item-thumbnail-left" data-truck-id="{{ truck.$id }}" ng-click="goToTruck(truck)">
                  <img src="{{ truck.image }}">

                  <h4>{{ truck.name }}</h4>

                  <p>{{ truck.cuisine }}</p>
               </div>
               <div class="item-button-right">
                  <button class="button" ng-click="removeFromList(truck)">
                     <i class="ion-ios-close-outline"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>

<script id="truck" type="text/ng-template">
<ion-modal-view>
  <div class="ion-modal-content">
    <ion-content>
      <button ng-click="closeModal()" class="close-modal"><i class="ion-close"></i></button>
      <div class="row truck-image">
        <img src="{{ truck.image }}" alt="truck logo" />
      </div>
      <div class="truck-content">
        <h4>{{truck.cuisine}}</h4>
        <a href="{{ truck.menu }}" class="button">View Menu</a>
        <a href="#/app/map" class="button">Locate</a>
        <div class="orange-divide"></div>
        <div class="row social-icons">
         <ul>
           <li>
             <a href="{{ truck.facebook }}" class="ion-social-facebook"></a>
           </li>
           <li>
             <a href="{{ truck.instagram }}" class="ion-social-instagram"></a>
           </li>
           <li>
             <a href="{{ truck.twitter }}" class="ion-social-twitter"></a>
           </li>
         </ul>
        </div>
     </div>
    </ion-content>
  </div>
</ion-modal-view>
</script>