<ion-view class="truck-login-view login">
  <ion-nav-title class="pig-nav"></ion-nav-title> 
  <ion-content>
    <div class="login-logo-row" scroll="false">
      <div class="login-logo"></div>
    </div>
    <div class="login-content padding">
      <p>Put your truck on the map!</p>
    </div>

    <div class="login-form">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="text" ng-model="user.password" placeholder="Password">
        </label>
      </div>

      <div class="row">
        <button ng-click="logIn(user)" class="checkin button button-block waves-effect waves-button waves-light">Login</button>
      </div>
    </div>
  </ion-content>
</ion-view>