<ion-view>
  <ion-nav-title class="pig-nav"></ion-nav-title> 
  <ion-content>
    <ion-item class="truck-search">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="input.filterTruck" placeholder="Search">
      </label>
    </ion-item>
    
    <!-- App -->
    <div class="truck-list">
      <div class="item card-item" ng-repeat="truck in trucks | filter:input.filterTruck">
        <div class="card stable-bg ink ink-dark">
          <div class="item item-thumbnail-left " ng-click="getTruckId(truck)">
              <img src="{{ truck.image }}" alt="truck">
              <h5>{{truck.name}}</h5>
              <p>{{truck.cuisine}}</p>
          </div>
          <div class="item-button-right">
              <button class="button" data-truck-id="{{ truck.$id }}" ng-click="toggleFavorites(truck)">
                <i class="{{ getFavoritesIcon(truck) }}"></i>
              </button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

<script id="truck" type="text/ng-template">
<ion-modal-view>
  <div class="ion-modal-content">
    <ion-content scroll="false">
      <button ng-click="closeModal()" class="close-modal"><i class="ion-close"></i></button>
      <div class="row truck-image">
        <img src="{{ truck.image }}" alt="truck logo" />
      </div>
      <div class="truck-content">
        <h4>{{truck.cuisine}}</h4>
        <a href="{{ truck.menu }}" onclick="window.open(this.href, '_self', 'location=yes')" class="button">View Menu</a>
        <a href="#/app/map" class="button">Locate</a>
        <div class="orange-divide"></div>
        <div class="row social-icons">
         <ul>
           <li>
             <a href="{{ truck.facebook }}" class="ion-social-facebook"></a>
           </li>
           <li>
             <a href="{{ truck.instagram }}" class="ion-social-instagram"></a>
           </li>
           <li>
             <a href="{{ truck.twitter }}" class="ion-social-twitter"></a>
           </li>
         </ul>
        </div>
     </div>
    </ion-content>
  </div>
</ion-modal-view>
</script>